<div class="col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">File Upload Form</h3>
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" method="POST" action="/">
                <div class="form-group">
                    <label for="simpleName">Name</label>
                    <input class="form-control" type="text" id="simpleName" name="simpleName">
                </div>
                <div class="form-group">
                    <label for="simpleEmail">Email</label>
                    <input class="form-control" type="email" id="simpleEmail" name="simpleEmail">
                </div>
                <div class="form-group">
                    <label for="fileUpload">File Upload</label>
                    <!-- This is the control that lets us upload files. The "accept"
                    attribute helps us control what types of files can be uploaded. -->
                    <input type="file" id="fileUpload" name="fileUpload" accept=".jpg,.jpeg,.bmp,.png">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>

        </div>
    </div>
</div>